<div class="container-fluid">
  <div>
    <h3 class="text-center my-2"><%=@user.name %></h3>
    
    <%= render 'relationships/follow_button', user: @user %>
    
  </div>
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item">
      <a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">
        Memories <span class="badge badge-secondary"><%= @count_memories %></span>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">
        Followings <span class="badge badge-secondary"><%= @count_followings %></span>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">
        Followers <span class="badge badge-secondary"><%= @count_followers %></span>
      </a>
    </li>
  </ul>
  
  <%= render 'memories/memories', memories: @memories %>
  
</div>