<div class="container">

<%= form_with(model: @memory, local: true ,id: 'new_memory') do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <ul class="mb-0">
        <% memory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="d-flex justify-content-between">
    <%= link_to "キャンセル", :back, {:class=>"btn btn-light"} %>
    <%= f.submit '新規作成', class: 'btn btn-primary'%>
  </div>
  <div class=" offset-md-2 col-md-8">
    <div class="field mb-4">
      <%= f.label :date, '日付：' %></br>
      <%= f.date_field(:date) %>
    </div>
    
    <div class="form-group">
      <%= f.label :title, 'タイトル：' %>
      <%= f.text_field :title, class: 'form-control'%>
    </div>
  
    <div class="form-group">
      <%= f.label :content, '内容：' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  
    <div class=field>
      <%= f.label :files, '写真：' %></br>
      <%= f.file_field :files, multiple: true%>
    </div>
  </div>

<% end %>

</div>
