
<%= form_with(model: @memory, local: true ,id: 'new_memory') do |f| %>
  <% if memory.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <ul class="mb-0">
        <% memory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <%= link_to "Cancel", :back, {:class=>"btn btn-light offset-md-1 col-md-1"} %>
    <%= f.submit 'Submit', class: 'btn btn-primary offset-md-8 col-md-auto'%>
  </div>
  <div class=" offset-md-2 col-md-8">
    <div class="field mb-4">
      <%= f.label :date, 'Date：' %></br>
      <%= f.date_field(:date) %>
    </div>
    
    <div class="form-group">
      <%= f.label :title, 'Title：' %>
      <%= f.text_field :title, class: 'form-control'%>
    </div>
  
    <div class="form-group">
      <%= f.label :content, 'Content：' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  
    <div class="field">
      <%= f.label :images, 'Images：' %></br>
      <%= f.file_field :images, multiple: true %>
      
    </div>
  </div>

<% end %>

