<div class="container">
  <% memories.each do |memory| %>
    <div class="border border-dark rounded mb-2 p-3">
      <div class="d-flex justify-content-between">
        <p>
          <%= memory.date %>
        </p>
        <h5>
          <%= memory.title %>
        </h5>
      </div>
      <div class="row">
        <div class="col-md-9 slides">
          <% memory.memory_images.each do |i| %>
            <div class="slide-target">
              <%= cl_image_tag (i.image.url if i.image?) %>
            </div>
          <% end %>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <%= memory.content %>
          </p>
          <% if current_user == memory.user %>
            <%=link_to "Edit", edit_memory_path(memory), class: 'text-primary' %>
            <%= link_to "Delete", memory, method: :delete, data: { confirm: "You sure?" }, class: 'text-danger' %>
          <% end %>
          <p>
            <%= render 'add_memories/add_button', memory: memory %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate memories %>
</div>


