
  <ul class="list-unstyled">
  
<% memories.each do |memory| %>

    <li class="border border-dark rounded mb-3 p-2">
      <div class="d-flex justify-content-between">
        <p class="col-2">
<%= memory.date %>
</p>
        <h4 class="col-auto">
<%= memory.title %>
</h4>
      </div>
      <div class="d-flex">
        <div class="col-9">
          <ul class="list-unstyled">
<% memory.images.each do |image| %>
          
            <li>
<%= image_tag(image.url) %>
</li>
          
<% end %>
            
          </ul>
        </div>
        <div class="col-3 text-center">
          <p>
<%= memory.content %>
</p>
<% if current_user == memory.user %>

<%=link_to "edit", edit_memory_path(memory), class: 'text-primary' %>
<%= link_to "Delete", memory, method: :delete, data: { confirm: "You sure?" }, class: 'text-danger' %>

<% end %>
        </div>
      </div>
    </li>
  
<% end %>

  </ul>
